<%= link_to "New deck", new_deck_path %>

<% @decks.each do |deck| %>
<div><%= link_to decks.name, deck %></div>

<%= link_to "Edit", edit_deck_path(deck) %>
<%= link_to "Delete", deck , method: :delete, confirm: "Are You Sure?" %>
<% end %>
